@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  background-color: #f8fafc; /* Light Background */
}

.layout main {
  background-color: #ffffff; /* White for main content */
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}